<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barberia</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="https://www.zarla.com/images/zarla-barbrow-1x1-2400x2400-20210604-pdfqhfbqwrt763k36mmp.png?crop=1:1,smart&width=250&dpr=2"
          alt="" width="30" height="24" class="d-inline-block align-text-top">
        Barberia
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link" href="../login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../register">Registrarse</a>
            </li>
            <% }else if(user && user.tipo=="Cliente" ){ %>
              <li class="nav-item">
                <a class="nav-link" href="../perfil">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../reservar">Reservar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../personalizar">Reserva Personalizada</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../logout">Salir</a>
              </li>
              <% }else if(user && user.tipo=="Empleado" ){ %>
                <li class="nav-item">
                  <a class="nav-link" href="../perfil">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../logout">Salir</a>
                </li>
                <% }else{%>
                <li class="nav-item">
                  <a class="nav-link" href="../perfil">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../admin/cliente">Clientes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../admin/empleado">Empleados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../admin/servicio">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../admin/cita">Citas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../logout">Salir</a>
                </li>
                <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if (mensajeLogear.length> 0){ %>
      <div class="alert alert-danger">
        <%= mensajeLogear %>
      </div>
      <% } %>
        <% if (mensajeRegistrar.length> 0){ %>
          <div class="alert alert-danger">
            <%= mensajeRegistrar %>
          </div>
          <% } %>

            <%- body %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>